name: Takatori-CI

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      os:
        type: string
        default: 'ubuntu-22.04'
      cmake_build_option:
        type: string
        default: ''

jobs:
  Test:
    runs-on: [self-hosted, docker]
    permissions:
      checks: write
    timeout-minutes: 30
    container:
      image: ghcr.io/project-tsurugi/tsurugi-ci:${{ inputs.os || 'ubuntu-22.04' }}
      volumes:
        - ${{ vars.ccache_dir }}:${{ vars.ccache_dir }}
    defaults:
      run:
        shell: bash
    env:
      CCACHE_CONFIGPATH: ${{ vars.ccache_dir }}/ccache.conf
      CCACHE_DIR: ${{ vars.ccache_dir }}/${{ inputs.os || 'ubuntu-22.04' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: CMake_Build
        run: |
          mkdir build
          cd build
          cmake -G Ninja -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DBUILD_TESTS=ON ${{ inputs.cmake_build_option }} ..
          cmake --build . --target all --clean-first

      - name: CTest
        env:
          GTEST_OUTPUT: xml
          ASAN_OPTIONS: detect_stack_use_after_return=true
        run: |
          cd build
          ctest --verbose -j 16

      - name: Verify
        uses: project-tsurugi/tsurugi-annotations-action@v1
        if: always()

  Analysis:
    runs-on: [self-hosted, docker]
    permissions:
      checks: write
    timeout-minutes: 30
    container:
      image: ghcr.io/project-tsurugi/tsurugi-ci:almalinux-latest
      volumes:
        - ${{ vars.ccache_dir }}:${{ vars.ccache_dir }}
        - ${{ vars.ctcache_dir }}:${{ vars.ctcache_dir }}
    defaults:
      run:
        shell: bash
    env:
      CCACHE_CONFIGPATH: ${{ vars.ccache_dir }}/ccache.conf
      CCACHE_DIR: ${{ vars.ccache_dir }}/almalinux-latest

      CTCACHE_DISABLE: ${{ vars.ctcache_disable }}
      CTCACHE_DIR: ${{ vars.ctcache_dir }}/almalinux-latest
      CTCACHE_SAVE_OUTPUT: 1
      CTCACHE_LOCAL: 1

      CC: clang
      CXX: clang++

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: CMake_Clang-Tidy
        run: |
          export PATH=/opt/cmake/bin:/opt/ctcache:$PATH

          mkdir build
          cd build
          cmake -G Ninja -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DBUILD_TESTS=OFF -DCMAKE_CXX_CLANG_TIDY="clang-tidy;-quiet;-extra-arg=-Wno-unknown-warning-option" ${{ inputs.cmake_build_option }} ..
          cmake --build . --target all --clean-first 2>&1 | tee >(awk '!a[$0]++' > "clang-tidy.log")
          exit ${PIPESTATUS[0]}

      - name: Doxygen
        run: |
          cd build
          ninja doxygen 2> >(tee doxygen-error.log)

      - name: Verify
        uses: project-tsurugi/tsurugi-annotations-action@v1
        if: always()
